.panell{
    height: 100vh;
    width: 100%;
     background: url("../images/banner_bg01.jpg");

     background-position: left;
     background-size: cover;
}

html{
    background-color: #19181d;
}
.panell__item{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f0f0f0;
    padding: 38px 23px;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
    color: #e4d804;
    text-decoration: none;
}
.panell__select{
    background: transparent;
    color: wheat;
    border: 0;
}

.btn_signIn{
        /* margin-left: 10px; */
        border-radius: 19px;
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        font-weight: 700;
}


.btn_signIn:hover{
background-color: #e4d804;
color: black;
}

.panell__item_white{
    color: white ;
}

.panell__item:hover{
    color: #e4d804;

}

.scrollButton{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 1000px;
    cursor: pointer;
    /* top: -70px; */
    opacity: 0;
    transition: 1s;
}


.scrollButton i{
    font-size: 25px;
}

.scrollButton__bottomAnimated{
    opacity: 1;
    bottom: 20px;
}

.streaming{
    color: #e4d804;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
     display: block;
     font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin-bottom: 12px;
    letter-spacing: 1px;
    background-color: inherit;
}


.movies__text{
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: normal;
}


.categoryButton{
    border-radius: 50px;
    background: #20212b;
    font-size: 12px;
    font-weight: 600;
    color: #e3dfdf;
    border: 2px solid #2d303d;
    padding: 11px 27px;
    margin-bottom: 0;
    transition: none !important;
    margin: 10px 10px;
    cursor: pointer;
}


.categoryButton__selected{
    text-shadow: 0px 3px 24px rgba(228, 216, 4, 0.5);
    border-color: #e4d804;
}

.card-img-top_height{
    height: 240px;
    object-fit: cover;
}

.vote_count{
    padding: 2px 8px;
    border-radius: 5px;
    background-color: rgb(86, 86, 255);
    color: white;
    width: fit-content;
}


.vote_lang{
    padding: 2px 8px;
    border-radius: 5px;
    background-color: rgb(123, 11, 3);
    color: white;
    width: fit-content;
}